{% extends 'layouts/app.twig' %}

{% block content %}

    <h1>Align TMX</h1>

    {% verbatim %}
    <div id="aligner-editor">
        <div class="toolbox text-center">
            <button v-on:click="save" class="btn btn-success">Save TMX</button>
            <button v-if="!selected.length" class="btn btn-sm btn-default">Shift+mouseclick<br /> to select chunk</button>
            <button v-if="selected.length" v-on:click="clear" class="btn btn-sm btn-default">Clear selection ({{selected.length}})</button>
            <button v-if="deleted.length" v-on:click="undo" class="btn btn-sm btn-default">Undo last delete</button>
        </div>
        <div class="rtable rtable-2cols">

                <div class="rtable-cell item {{ item.class }}" v-for="item in language0" :style="{'order': $index}" track-by="$index">
                    <div contenteditable="true" class="contents"
                        v-on:click="select('language0', item, $event)"
                        v-on:keyup.enter="split(item, $event)">
                        {{ item.text }}
                    </div>
                    <div class="tools">
                        <i v-on:click="duplicate('language0', item, $index)" class="fa fa-copy" title="Duplicate chunk"></i>
                        <i v-on:click="split('language0', item, $index)" class="fa fa-scissors" title="Split chunks"></i>
                        <i v-if="selected.length" v-on:click="merge('language0')" class="fa fa-compress" title="Merge chunks"></i>
                        <i v-on:click="remove('language0', item, index)" class="fa fa-remove" title="Remove chunk"></i>
                    </div>
                </div>

               <div class="rtable-cell item {{ item.class }}" v-for="item in language1" v-bind:style="{'order': $index}" track-by="$index">
                    <div contenteditable="true" class="contents"
                        v-on:click="select('language1', item, $event)"
                        v-on:keyup.enter="split(item, $event)">
                        {{ item.text }}
                    </div>
                    <div class="tools">
                        <i v-on:click="duplicate('language1', item, $index)" class="fa fa-copy" title="Duplicate chunk"></i>
                        <i v-on:click="split('language1', item, $index)" class="fa fa-scissors" title="Split chunks"></i>
                        <i v-if="selected.length" v-on:click="merge('language1')" class="fa fa-compress" title="Merge chunks"></i>
                        <i v-on:click="remove('language1', item, index)" class="fa fa-remove" title="Remove chunk"></i>
                    </div>
                </div>
        </div>

    </div>
    {% endverbatim %}



    {% if file %}
        <div class="col-md-12 text-center">
            <hr><a href="/tmx/download/{{ file }}" class="btn btn-success btn-sm"><i class="fa fa-download"></i> Download: {{ file }}.tmx</a>
        </div>
    {% endif %}
{% endblock %}